body{
    padding: 0px;
    margin: 0px;
}

#container{
    background-color: aquamarine;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.row-container{
    display: flex;
    flex: 1;
    justify-content: stretch;
    align-content: stretch;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    border: black solid 1px;
}

.square-hover{
    background-color: rgb(81, 36, 247);
}

button{
    padding: 10px;
    margin: 10px;
}