body{
    padding: 0px;
    margin: 0px;
}

#container{
    background-color: aquamarine;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    border: black solid 3px;
}

.break{
    flex
}